<% if @user.merchant %>
  <h1><%= @user.merchant.name %></h1>

  <center>
  <p><%= @user.merchant.address %></p>
  <p><%= @user.merchant.city %></p>
  <p><%= @user.merchant.state %></p>
  <p><%= @user.merchant.zip %></p>
  <%= link_to "Items for #{@user.merchant.name}", "/merchant/items" %>
</center>
<% else %>
<% end %>
<br><br>
<section class="grid-container">
  <% @merchant_orders.each do |order| %>
  <section class="grid-item" id='order-<%=order.id%>'>
    <p>Order #: <%=link_to order.id, "/merchant/orders/#{order.id}" %> </p>
    <p>Date: <%= order.created_at %></p>
    <p>Total Merchant Items: <%= @user.merchant.my_items_this_order(order.id).count %></p>
    <p>Total Merchant Value: <%= @user.merchant.my_total_this_order(order.id) %></p>
  </section>
  <% end %>
</section>
