<h2><%= @user.name %></h2><br>
<%= @user.address %><br>
<%= @user.city%><br>
<%= @user.state%><br>
<%= @user.zip%><br>
<%= @user.email%><br>
<%= link_to  "Edit Profile", "/profile/#{@user.id}/edit" %>
