<h1>Edit Password</h1>

<center>
  <%= form_tag "/users/#{@user.id}", method: :patch do %>
  <%= label_tag :password %><br />
  <%= password_field_tag :password %><br />

  <%= label_tag :password_confirmation, "Confirm Password" %><br />
  <%= password_field_tag :password_confirmation %><br />
  <%= submit_tag "Submit Form"%>
  <% end %>
</center>