<h1>Edit Merchant <%=@merchant.id %>'s Item <%=@item.id %></h1>

<section id="edit-item-form">
  <%= form_for [@merchant, @item], url:"/merchant/items/#{@item.id}?edit=item" do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %> 
  
    <%= f.label :description %>
    <%= f.text_field :description %> 
  
    <%= f.label :image %>
    <%= f.text_field :image %> 
  
    <%= f.label :price %>
    <%= f.number_field :price, min: 0 %> 
  
    <%= f.label :inventory %>
    <%= f.number_field :inventory, min: 0 %> 
  
    <%= f.submit %>
  <% end %>

</section>