<h1>Merchant <%=@merchant.name %> Item Index</h1>

<% @merchant.items.each do |item| %>
  <section id="item-<%=item.id%>">
    <h3>Name: <%=item.name %></h3>
    <p><img class="img" src="<%=item.image%>" alt="item image"> </p>
    <p>Description: <%=item.description %></p>
    <p>Price: <%=number_to_currency(item.price) %></p>
    <p>Inventory: <%=item.inventory %></p>
    <p>Active? <%=item.active? %></p>
    <% if item.active? %>
      <%= button_to "Disable", "/merchant/items/#{item.id}?active=false", method: :patch %>
    <% else %>
      <%= button_to "Enable", "/merchant/items/#{item.id}?active=true", method: :patch %>
    <% end %>
    <p>Never Ordered? <%=item.never_ordered? %></p>
    <% if item.never_ordered? %>
      <%= button_to "Delete", "/merchant/items/#{item.id}", method: :delete %>
    <% end %>
  </section>
<% end %>