<center>
<section id="order-<%=@order.id%>">
  <h1>Merchant Order <%= @order.id%></h1>
  <h3>Order Status: <%=@order.status %></h3>
  <h3>Recipients Name: <%=@order.user.name %></h3>
  <h3>Recipients Address: <%=@order.user.full_address %></h3>
</section>
</center>

<br><br>

<% @merchant_item_orders.each do |item_order| %>
  <section id="item-<%=item_order.item. id%>">
    <p><%= link_to item_order.item.name, "/items/#{item_order.item.id}" %></p>
    <img class="resize" src=<%= item_order.item.image %> alt=<%= "#{item_order.item.id}" %>>
    <p>Price: <%= number_to_currency(item_order.item.price) %></p>
    <p>Quantity: <%= item_order.quantity %></p>
    <p>Item Order Status: <%=item_order.status %></p>
    <%= button_to 'Fulfill Item', "/item_orders/#{item_order.id}", method: :patch %>
  </section>

<% end %>